/*Headder section Style start*/

#header{
    width: 1355px;
    height: 560px;
    font-size: larger;
    background-image: url(images/donation14.webp);
    background-size: 1355px 560px;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    position: relative;  
    margin-bottom: 160px;
}
.bg-color{
    background:  rgba(0, 0, 0, 0.60);
    width: 1355px;
    height: 560px;
}
.text1{
    
    color: whitesmoke;
    text-align: center;
    height: 320px;
    width: 760px;
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;

}

.btn{
    height: 40px;
    width: 119px;
    margin-top: 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
}
.anchor{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}

/*Headder section Style end*/

/*Second page start*/

.container{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.text2{
    color: rgb(33, 205, 211);
    padding: 5px;
}

.amount{
    background-color: aqua;
    color: darkgreen;
    padding: 35px;
    margin: 8px;
    border: none;
}

.amount:hover{
    background-color:cadetblue;
    color: red;
    padding: 35px;
    margin: 8px;
    border:solid;
    border-radius: 8px;
}

.currency{
    color: cadetblue;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*Second page end*/

/*third page start*/

.thirdpage{
    padding: 130px;
    text-align: center;
}

.text3{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}
.container1{
    width: 320px;
    height: 300px;
    margin: 10px;
    display:inline-block;
    background-color: aqua;
}

.container1:hover{
    width: 320px;
    height: 300px;
    margin: 10px;
    display:inline-block;
    background-color:yellowgreen;
}

.iconify{
    font-size: 60px;
    padding-top: 10px;
}

.padd{
    padding-top: 20px;
}
/*third page end*/

/*six page start*/

.sixpage{
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

.container2{
    margin-top: 80px;
    height: 200px;
    width: 800px;
    background-color: aqua;
    text-align: center;
    margin-bottom: 160px;
    
}

.bttm{
    margin-top: 100px;
}
/*six page end*/

/*footer section Style  start*/

.footer{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    height: 150px;
    width: auto;
    position: relative;
}

.text4{
    color: aliceblue;
    position: absolute;
    margin-left: 40%;
    text-align: center;
    
}

.fa{
    font-size:24px;
}

.name{
    color: brown;
}

/*footer section Style end*/